{% extends 'tweets/base.html' %}
{% block content %}
    {% load static %}
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        body {
            background-color: rgb(237, 242, 248)!important;
        }

        .modebar-container {
            display: none!important;
        }
    </style>

    <div style="margin-top: 1em;">

    </div>
    <div class="col-12 text-center">
        <h1 id="title">Covid Tweet Polysingularity</h1>
        <!-- <svg width="960" height="600"></svg> -->
        <div id="graph"></div>
    </div>

    <script src="{% static 'tweets/js/miserables.js' %}"></script>
    <script src="{% static 'tweets/js/index.js' %}"></script>
{% endblock %}