body {
    overflow: hidden;
    font-family: Nunito;
    background-color: rgb(237, 242, 248);
}

.wrapper{
    height:100vh;
}

.sidebar{
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 4px #3636368a;
    width: 80px;
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
    float:left;
    position: relative;
    z-index: 0;
}
.sidebaritem {
    padding: 2em 0;
    transition: all .2s;
    cursor: pointer;
}
.sidebaritem:hover {
    transform: scale(1.1);
}
.sidebarbottomitem {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
}

.navbartop {
    height: 5%;
    background-color: #fff;
    box-shadow: 1px 1px 4px #3636368a;
    padding: 0;
    z-index: 1;
}
.navoptions {
    color: black;
    font-weight: 650;
    cursor: pointer;
    border-bottom: 3px solid rgb(64, 117, 233);
    padding-bottom: 1em;
    border-radius: 2px;
    font-size: 1.1em;
    transition: all .2s;
}
.navoptions:hover {
    font-size: 1.12em;
}
.navoptionsNotActive {
    border: 0!important;
    color: grey!important;
}

.full {
    height: 100%;
}

.maintitle {
    padding: 1em 0 0 1em;
    font-size: 3em;
    font-weight: 750;
}

.infobox {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #3636368a;
    height: 80vh;
    margin: 3em 1em 1em 3em;
}

.nopad {
    padding: 0;
}

.controls {
    background-color: #fcfbfd;
    border-left: 1px solid #e0e0e0;
    padding: 0.5em 1em;
}

